.about-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-wrap__title {
  display: block;
  font-family: 'Chronicle Display', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #2E2E31;
  margin-bottom: 50px;
}

.about-wrap__subtitle {
  display: block;
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #646464;
}