//Footer
.footer-wrap {
  padding-top: 28px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
  margin-bottom: 25px;
}
.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .footer-menu__nav {

    .footer-menu__nav-link {
      font-family: 'Gilroy-Medium', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      color: #FFFFFF;

      &:hover {
        color: #E0B47B;
      }
    }
  }
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .footer-social__content {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.2);
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;

    &:hover {
      text-decoration: none;
    }

    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }

    .footer-social__content-icon {

    }
  }
  .footer-social__facebook {

    &:hover {
      background: #3b5998;
    }
  }
  .footer-social__twitter {

    &:hover {
      background: #00acee;
    }
  }
  .footer-social__youtube {

    &:hover {
      background: #FFFFFF;
      color: #c4302b;
    }

  }
}
.footer-item {

}
//Icon pay
.footer-item__content-pay {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;

  .content-pay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    background: #A9A9A9;
    border-radius: 5px;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background: #d4d4d4;
    }

    .content-pay__icon {

    }
  }
}
//Copyright text
.footer-item__content-text {

  .copyright-title {
    display: block;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 11px;

    .copyright-title__link {
      color: #FFFFFF;

      &:hover {
        text-decoration: none;
        color: #DDB178;
      }
    }
  }
}
.software-title {
  display: block;
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 20px;

  .software-title__link {
    color: #DDB178;

    &:hover {
      text-decoration: none;
    }
  }
}