.gallery-wrap {
  padding: 100px 0 !important;

  .gallery-wrap__item {
    width: 100%;
    margin: 0 auto;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .gallery-wrap__item-link {
      float: left;
      height: 350px;
      overflow: hidden;

      .gallery-wrap__item-img {
        width: auto;
        min-width: 100%;
        max-width: 700px;
        height: auto;
        min-height: 100%;
        max-height: 700px;
        display: block;
      }
    }
    .grid-sizer,.gallery-wrap__item-link {
      width: 33%;
      @media screen and (max-width: 500px){
        width: 50%;
      }
    }
    .gallery-img__height {
      height: 700px;
    }
    .gallery-img__width {
      width: 99%;
      @media screen and (max-width: 500px){
        width: 100%;
      }
    }
  }
}
//Rooms landing
.rooms-wrap {
  padding-top: 100px;
  padding-bottom: 80px;
}
