.stepbooking-wrap__input-select {

  .ui-button {
    padding: 20px 20px 14px 45px;
    display: inline-block;
    position: relative;
    line-height: normal;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    border-radius: 5px;
    background: #FFFFFF;
    width: 280px;
    height: 60px;
    border: none;
    margin-right: 20px;
    text-align: left;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover, &.active, &:active, &:focus {
      border: none;
      background: #FFFFFF;
      font-weight: 500;
      color: #2E2E31;
      outline: none;
    }
    //Text select
    .ui-selectmenu-text {
      font-family: 'Gilroy-Medium', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #2E2E31;
      display: block;
      margin-right: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 15px;
    }
    //Arrow
    .ui-selectmenu-icon.ui-icon {
      margin-top: 7px;
      background-image: none;
      border-top: 6px solid #CCCCCC;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      width: 10px;
      height: 6px;
    }
    .ui-icon-triangle-1-s {
      background-position: -60px -16px;
    }
  }
  //Arrow
  .ui-selectmenu-button-open {
    .ui-selectmenu-icon.ui-icon {
      border: none;
      border-bottom: 6px solid #CCCCCC;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
}
//Width select property
.stepbooking-three__input-select {

  .ui-button {
    width: 250px;
  }
}
//Select open
.ui-widget {
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #2E2E31;
  border-radius: 5px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active:hover {
  border: none;
  background: #E0B47B;
  color: #FFFFFF;
  font-weight: 500;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 20px 10px 20px 15px;
}
.ui-widget.ui-widget-content {
  border: 1px solid #E0B47B;
  margin-top: 10px;
}
.ui-selectmenu-menu .ui-menu {
  height: 180px;
}
.ui-selectmenu-menu {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(224,180,123,0.3);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(224, 180, 123, 1);
  }
}
//Select on makeroom
.checkout-info__all-select {
  .ui-button {
    padding: 12px 20px 12px 31px;
    display: inline-block;
    position: relative;
    line-height: normal;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    border-radius: 5px;
    background: #FFFFFF;
    width: 160px;
    height: 56px;
    border: 1px solid #CCCCCC;
    margin-right: 20px;
    text-align: left;

    &:hover, &.active, &:active, &:focus {
      border: 1px solid #CCCCCC;
      background: #FFFFFF;
      font-weight: 500;
      color: #2E2E31;
      outline: none;
    }
    //Text select
    .ui-selectmenu-text {
      font-family: 'Gilroy-Medium', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #2E2E31;
      display: block;
      margin-right: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    //Arrow
    .ui-selectmenu-icon.ui-icon {
      margin-top: 13px;
      background-image: none;
      border-top: 6px solid #CCCCCC;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      width: 10px;
      height: 6px;
    }
    .ui-icon-triangle-1-s {
      background-position: -60px -16px;
    }
  }
  //Arrow
  .ui-selectmenu-button-open {
    .ui-selectmenu-icon.ui-icon {
      border: none;
      border-bottom: 6px solid #CCCCCC;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
}
.checkout-info__select-child {
  .ui-button {
    width: 200px;
  }
}
.checkout-info__select-pet {
  .ui-button {
    margin-right: 0;
  }
}
#ui-selectmenu-menu-div.select-adut {
  padding: 5px;
}