@import "variables";
@import "typography";
@import "components/header";
@import "components/footer";
@import "components/homevilla";
@import "components/homeproperty";
@import "components/homeroom";
@import "components/contactus";
@import "components/gallery";
@import "components/blog";
@import "components/blogcontent";
@import "components/aboutus";
@import "components/events";
@import "components/eventscontent";
@import "components/location";
@import "components/makeroom";
@import "components/select";
@import "components/datepicker";
@import "components/media";

body {
  margin: 0;
}

.container {
  max-width: 1060px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.container__white {
  background-color: #FFFFFF;
}

.container__grey {
  background-color: #F8F8F8;
}

.container__black {
  background-color: #2E2E31;
}